<footer id="footer">
  <div class="container">
    <div class="copyright">
      &copy; Copyright 2022 <strong>4 for English - Fundamental English Sentence Structures </strong>. All Rights Reserved
    </div>
  <div class="credits">
    Designed by <%= link_to "Alessandro Ciocchetti", "https://www.linkedin.com/in/alessandro-ciocchetti-281217152/", target: "_blank", rel: "noopener noreferrer" %> for Frances Gallito
    </div>
  </div>
</footer>
