<section id="testimonials">
  <div class="container">
    <div class="section-header">
      <h2>Testimonials</h2>
    </div>
      <div class="testimonial-item">
        <p>
          "After 2 years of interruption, I had the chance to start over and complete my B1+ level. I clearly remember the first day with Frances,
          the teacher. I was a little scared but she encouraged me to pick up all I had missed, especially with the use of the book 4 for English.
Note for the teacher: Thank you Frances for your professionality and patience with me. I won't forget it!"
        </p>
        <h6>Claudia</h6>
        <h4><strong>Adult Learner</strong></h4>
      </div>
      <div class="testimonial-item">
        <p>
          "I have finally understood many English Sentence Structures. I miss you and Malta!"
        </p>
        <h6>Oliver </h6>
        <h4><strong>International Young Learner - Copenaghen </strong></h4>
      </div>
      <div class="testimonial-item">
        <p>
          "Best teacher for me on Campus"
        </p>
        <h6>Aya</h6>
        <h4><strong>International Young Learner - Israel</strong></h4>
      </div>
      <div class="testimonial-item">
        <p>
          "Frances was my English teacher over the last 8 months and for me has been a pleasure to work with her. Thanks to her approach and teaching method, I have been able to improve and deepen my English knowledge. Additionally, I've really appreciated her book 4 for English. The structure is very useful. For me, it has been a very good way to improve the language"
        </p>
        <h6>Gianluca Palmieri</h6>
        <h4><strong>Business and Marketing Analyst</strong></h4>
      </div>
      <div class="testimonial-item">
        <p>
          "I would like to thank Frances because she was my first real English teacher. In the past I have followed several English courses and all the lessons were boring. In my opinion the great strengths of Frances are the communication and her ability to custom the lessons to her students, because for sure she loves her job. Her method in teaching was very stimulating. My approach to the English language has improved for the first time and this has been possible thanks to her"
        </p>
        <h6>Isabella Panetta</h6>
        <h4><strong> Marketing Assistant</strong></h4>
      </div>
      <div class="testimonial-item">
        <p>
          "For me it was an important way to approach the English lessons. Her skill to create an interesting environment and a high level experience was for me a great opportunity to learn English. The structures from her book 4 for English helped me understand the different verb tenses and it was easier for me to comprehend the English language. I have improved the English language and the efficiency on my job. Thank you"
        </p>
        <h6>Augusto Gilardi</h6>
        <h4><strong>Reporting Manager</strong></h4>
      </div>
      <div class="testimonial-item">
        <p>
          "I would like to thank British School for the opportunity to study with a GREAT teacher from New York. She is professional, reliable, meticolous and knowledgeable. For me she has been the perfect teacher to learn and improve my English"
        </p>
        <h6>Cristina Melandri</h6>
        <h4><strong>Manager Assistant</strong></h4>
      </div>
      <div class="testimonial-item">
        <p>
          "Great job!!! Your teacher rating for Summer 2018 is 4.885. Well done on that! Ranking top 10 International best teachers"
        </p>
        <h6>EF</h6>
        <h4><strong>Education First</strong></h4>
      </div>
      <div class="testimonial-item">
        <p>
          "Thank you Frances. Your empathy, professionality, qualities and initiatives for the teaching approach have been more than qualified. It was immediately obvious that you have a great report with the students. The atmosphere in your classroom is supportive, relaxed and enjoyable. We appreciated greatly having you in our team"
        </p>
        <h6>LAL UK</h6>
        <h4><strong>Sussex University</strong></h4>
      </div>
      <div class="testimonial-item">
        <p>
          "Enrolling to English schools represents a new challenge every year. This year I had a new teacher from NY, Frances. I have found her explanation very clear and methods of teaching very useful and efficient. Every lesson was different from the other. It was very interesting and never boring"
        </p>
        <h6>Andrea</h6>
        <h4><strong>Student</strong></h4>
      </div>
      <div class="testimonial-item">
        <p>
          "I was followed by Mrs Frances Gallito during my upper-intermediate Business English course. I very much liked and appreciated her structured way of teaching which gave me a real and great improvement of my knowledge. The structure of her book helped me to improve the understanding of different sentence structures and verb tenses, making everything easier to understand"
        </p>
        <h6>Francesco Rembadi</h6>
        <h4><strong>Quality Manager</strong></h4>
      </div>
      <div class="testimonial-item">
        <p>
          "Il corso è stato efficace e molto interessante. Utile per poter approfondire la lingua Inglese. La nostra teacher Frances è stata molto brava sia nei metodi che nella didattica, capace di rendere la lezione sempre stimolante. Il suo libro 4 for English è comprensibile e ben strutturato, capace di farti apprendere facilmente i tempi verbali"
        </p>
        <h6>Divisione Esercito 28^ Pavia</h6>
        <h4><strong>Student</strong></h4>
      </div>
      <div class="testimonial-item">
        <p>
          "Da 1 a 10, voto 10! Per i suoi metodi di insegnamento efficaci. 4 for English è stato molto utile per riuscire a seguire tutte le lezioni"
        </p>
        <h6>Divisione Esercito 28° Pavia</h6>
        <h4><strong>Student B1</strong></h4>
      </div>
      <div class="testimonial-item">
        <p>
          "Frances provided exhaustive information about every topic. She is very skilled, she has adopted a tutorial approach that immediately improved my understanding. She is competent and experienced in both languages. Definetely it was a pleasure learning English with her"
        </p>
        <h6>Gianpaolo</h6>
        <h4><strong>British School student</strong></h4>
      </div>
      <div class="testimonial-item">
        <p>
          "Ho partecipato a diversi programmi di full-immersion estivi organizzati dalla teacher Frances, dove ho avuto modo insieme ad altri studenti di parlare Inglese e di divertirmi tanto in escursioni, visite a luoghi di interesse e attività come yoga, trekking e corsi di cucina"
        </p>
        <h6>Natascia</h6>
        <h4><strong>British School student</strong></h4>
      </div>
    </div>
</section>
